.image{
display: flex;
justify-content: center;
padding-top: 50px;
}
div>#motto{
    text-align: center;
    padding: 25px;
    color: rgba(241, 232, 232, 0.966);
    background-color: none;
}

.emphasis{
font-weight: bolder;
font-style: normal;
}
#drinks {
    display: flex;
    flex-direction: row;
    border: 3px solid #eee;
    box-shadow: 3px 3px 5px grey;
    width: 560px;
    height: 460px;
    background-color: white;
    padding: 5px 15px;
    margin: 0px;
    padding-left: 50px;
    margin-left: 750px;
    margin-top: 0px;
    float: right;

}
