*{
    margin: 0px;
    box-sizing: border-box;
}
ul{
    text-decoration: none;
}
.header{
    background-image: url("../images/image1.jpg");
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    background-size: cover;
}
.white{
height: 105px;
width: 150px;
border: 3px solid white;

}
.orange{
    height: 105px;
    width: 457px;
    border: 3px solid #F15A29;
    background-color: #F15A29;
    color: white;
}
#position{
    position: relative;
    left: 0;
    text-align: center;
}
.column {
    float: left;
    width: 25%;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .one{ 
      height: 150px; 
    }
    .two{
        height: 210px;
        background-image: url("./images/breakfast.jpg");
        background-size: cover;
        color: white;
    }
    .three{
        height: 210px;
        background-image: url("./images/lunch.jpg") ;
        background-size: cover;
        color: white;
    }
    .four{
        height: 210px;
        background-image: url("./images/dinner2.jpg");
        background-size: cover;
        color: white;
    }
    #first-heading{
        padding: 15px;
        margin-top: 110px;
       float: right;
       margin-left: 750px;
    }
    .move{
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: left;
        border: 3px solid #eee;
        box-shadow: 5px 5px 5px grey;
        width: 560px;
        height: 460px;
        background: white;
        padding: 55px 5px;
        margin-top: -400px;
        margin-left: 100px;
    }
    #second-heading{
        clear: left;
      margin-top: 110px;
      padding: 15px;
      float: left;
      margin-right: 750px;
      margin-left: 100px;
    }
  .background{
      clear: both;
      background-image: url("./images/foodsBg.jpg");
      background-size: cover;
      display: flex;
      padding: 100px;
      /* background-color: brown; */
  }
  .food{
     
    display: flex;
    padding: 110px;

} 
.nav{
    margin: 50px 50px 50px 50px;
    background-color: white;
} 

.list{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.list>div{
    background-color: lightgrey;
    width: 25%;
    padding: 20px;

}
.chickenburger{
    text-align: justify;
}
.clients{
    margin: 70px 150px 20px 50px;
  filter: drop-shadow(5px 5px 5px grey);
    background-color: white;
    padding-left: 450px;
    height: 250px;

}
.about{
    text-align: right;
    padding-right: 450px;
    margin-top: -160px;
}
.footer{
    clear: both;
    background-image: url("./images/subscribe.jpg");
    background-size: cover;
    height: 301px;
    width: 100%;
}