*{
    margin: auto;
    box-sizing: border-box;
}
ul{
    text-decoration: none;
}
.header{
    background-image: url("../images/image1.jpg");
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    background-size: cover;
}
.white{
height: 75px;
width: 150px;
border: 3px solid white;

}
.orange{
    height: 75px;
    width: 203px;
    border: 3px solid #F15A29;
    background-color: #F15A29;
    color: white;
}
#position{
    position: absolute;
    left: 0;
    text-align: center;
}
.column {
    float: left;
    width: 25%;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .one{ 
      height: 150px; 
    }
    .two{
        height: 150px;
        background-image: url("./images/breakfast.jpg");
        background-size: cover;
        color: white;
    }
    .three{
        height: 150px;
        background-image: url("./images/lunch.jpg") ;
        background-size: cover;
        color: white;
    }
    .four{
        height: 150px;
        background-image: url("./images/dinner2.jpg");
        background-size: cover;
        color: white;
    }
    .column two{
        display: flex;
        align-items: center;
    }
    

